body{
    background-color: #f7f7f7;
}
.header{
    .row{
        &>div{
            height: 40px;
            line-height: 40px;
            border:1px solid grey;
            text-align: center;
            &>a{
                color:grey;
                text-decoration: none;
                font-size:13px;
            }
        }
        &>div:nth-child(n+3){
            a{
                margin-left: 10px;
            }
        }
        &>div:first-child{
            position: relative;
            img{
                display: none;
                position: absolute;
                top: 40px;
                left: 40px;
            }
            &:hover{
                img{
                    display: block;
                    z-index: 999;
                }
            }
        }
    }
}

/*导航栏*/
.nav{
    height: 80px;
}
.wjs_default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.wjs_default .navbar-brand {
    height: 80px;
    line-height: 50px;
    color: #777;
    span{
        font-size:50px;
    }
    span:first-child{
        color:red;
    }
    span:last-child{
        color:black;
        font-size:30px;
        top: -10px;
    }
}
.wjs_default .navbar-brand:hover,
.wjs_default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.wjs_default .navbar-text {
    color: #777;
}
.wjs_default .navbar-nav > li > a {
    color: #777;
    height: 80px;
    line-height: 50px;
}
.wjs_default .navbar-nav > li > a:hover,
.wjs_default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom:3px solid red;
}
.wjs_default .navbar-nav > .active > a,
.wjs_default .navbar-nav > .active > a:hover,
.wjs_default .navbar-nav > .active > a:focus {
    /*color: #555;*/
    /*background-color: #e7e7e7;*/
}
.wjs_default .navbar-nav > .disabled > a,
.wjs_default .navbar-nav > .disabled > a:hover,
.wjs_default .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.wjs_default .navbar-toggle {
    border-color: #ddd;
    margin-top: 25px;
}
.wjs_default .navbar-toggle:hover,
.wjs_default .navbar-toggle:focus {
    background-color: #ddd;
}
.wjs_default .navbar-toggle .icon-bar {
    background-color: #888;
}
.wjs_default .navbar-collapse,
.wjs_default .navbar-form {
    border-color: #e7e7e7;
}
.wjs_default .navbar-nav > .open > a,
.wjs_default .navbar-nav > .open > a:hover,
.wjs_default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px) {
    .wjs_default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .wjs_default .navbar-nav .open .dropdown-menu > li > a:hover,
    .wjs_default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .wjs_default .navbar-nav .open .dropdown-menu > .active > a,
    .wjs_default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .wjs_default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .wjs_default .navbar-nav .open .dropdown-menu > .disabled > a,
    .wjs_default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .wjs_default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.wjs_default .navbar-link {
    color: #777;
}
.wjs_default .navbar-link:hover {
    color: #333;
}
.wjs_default .btn-link {
    color: #777;
}
.wjs_default .btn-link:hover,
.wjs_default .btn-link:focus {
    color: #333;
}
.wjs_default .btn-link[disabled]:hover,
fieldset[disabled] .wjs_default .btn-link:hover,
.wjs_default .btn-link[disabled]:focus,
fieldset[disabled] .wjs_default .btn-link:focus {
    color: #ccc;
}

/*轮播图*/
.banner{
    .banner_a{
        display: block;
        height: 410px;
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
        &.image_a{
            background-image: url(../images/slide_01_2000x410.jpg);
        }
        &.image_b{
            background-image: url(../images/slide_02_2000x410.jpg);
        }
        &.image_c{
            background-image: url(../images/slide_03_2000x410.jpg);
        }
        &.image_d{
            background-image: url(../images/slide_04_2000x410.jpg);
        }
    }
}
.mobile_a{
    width: 100%;
    display: block;
    img{
        width: 100%;
        display: block;
    }
}

/*信息区域*/

.info{
    padding: 50px;
    .container{
        max-width: 910px;
        .row{
            &>div{
                margin-bottom:20px;
                padding-left: 15px;
                padding-right: 15px;
                a{
                    color:grey;
                    span{
                        font-size:40px;
                    }
                }
                a:hover{
                    color:red;
                }
            }
        }
    }
}

/*预约区*/
.book{
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 20px;
    .container{
        max-width:910px;
    }
    .pull-left{
        a{
            color:red;
            border-bottom: 1px dashed red;
        }
    }
    .pull-right{
        a{
            color:grey;
            &:hover{
                color:red;
            }
        }
    }
}

/*产品区导航*/
.pro{
    padding:0 15px 30px;
}
.wjs-tabs {
    border-bottom: 1px solid #ddd;
    padding:0 15px;
    height:auto;
}
.wjs-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.wjs-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    color:grey;
    //border: 1px solid transparent;
    //border-radius: 4px 4px 0 0;
}
.wjs-tabs > li > a:hover {
    //border-color: #eee #eee #ddd;
}
.wjs-tabs > li.active > a,
.wjs-tabs > li.active > a:hover,
.wjs-tabs > li.active > a:focus {
    color: black;
    cursor: default;
    background-color: #fff;
    border-bottom: 3px solid red;
    //border-bottom-color: transparent;
}
.wjs-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.wjs-tabs.nav-justified > li {
    float: none;
}
.wjs-tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.wjs-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .wjs-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .wjs-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}
.wjs-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}
.wjs-tabs.nav-justified > .active > a,
.wjs-tabs.nav-justified > .active > a:hover,
.wjs-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd;
}
@media (min-width: 768px) {
    .wjs-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .wjs-tabs.nav-justified > .active > a,
    .wjs-tabs.nav-justified > .active > a:hover,
    .wjs-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}
/*产品区内容*/
.pro{
    .item{
        padding:20px 15px 0;
        a{
            height: 150px;
            display: block;
            text-decoration: none;
            //border: 1px solid #eeeeee;
            box-shadow: 2px 2px 3px grey;
            color:grey;
            font-weight:900;
            &::before{
                font-size:40px;
                color:white;
                position: absolute;
            }
            .content_left{
                overflow: hidden;
                height: 100%;
                h3{
                    font-size:16px;
                    text-align: center;
                    height: 16px;
                    line-height: 16px;
                }
                &>div{
                    margin-bottom:5px;
                    &:nth-of-type(2n){
                        text-align: right;
                    }
                }
                p{
                    font-size:12px;
                    height: 14px;
                    line-height: 14px;
                    //padding: 3px;
                    margin: 3px;
                    overflow: hidden;
                }

            }
            .content_right{
                width: 108px;
                height: 100%;
                float: right;
                border-left:1px dashed grey;
                position: relative;
                text-align: center;
                padding-top:30px;
                p{
                    margin-bottom:10px;
                }
                &::before{
                    content:"";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-radius:50%;
                    background-color: #f7f7f7;
                    top: -10px;
                    left:-10px;
                    box-shadow:0px 1px 0px grey;
                }
                &::after{
                    content:"";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-radius:50%;
                    background-color: #f7f7f7;
                    bottom: -10px;
                    left:-10px;
                    box-shadow:0px -1px 0px grey;
                }
            }
        }
    }
    .tab-content{
        a{
            &.active{
                background-color: red;
                color:white;
            }
        }
    }
}
/*新闻列表*/
.news{
    border-top:1px solid #777777;
    border-bottom:1px solid #777777;
    h3{
        text-align: center;
        padding-top: 8px;
        padding-bottom:15px;
        border-bottom:1px solid #777;
        position: relative;
        &::after{
            content:"";
            width: 8px;
            height: 8px;
            background-color: #fff;
            border: 1px solid #666;
            border-radius: 4px;
            position: absolute;
            bottom: -4px;
            right: -4px;
        }
    }
}
/*虚线 竖线*/
.line_father{
    position: relative;
    overflow: hidden;
    //padding:20px;
    .line{
        height: 80%;
        border-left: 1px dashed grey;
        position: absolute;
        top: 25px;
        left: 50px;
    }
    .line2{
        width: 100%;;
        border-bottom: 1px solid grey;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }
}
/*图标区*/
.news-tabs {
    //border-bottom: 1px solid #ddd;
    padding-top: 20px;
}
.news-tabs > li {
    float: left;
    width: 100%;
    &:last-child{
        a{
            margin-bottom: 0;
        }
    }
}
.news-tabs > li > a {
    margin-right: 2px;
    line-height: 70px;
    border-radius:50%;
    height: 70px;
    width: 70px;
    color: white;
    background-color: #d2d2d2;
    margin-bottom: 60px;
    font-size:40px;
    text-align: center;
    padding: 0;

    //border: 1px solid transparent;
    //border-radius: 4px 4px 0 0;
}
.news-tabs > li > a:hover {
    background-color: red;
    //border-color: #eee #eee #ddd;
}
.news-tabs > li.active > a,
.news-tabs > li.active > a:hover,
.news-tabs > li.active > a:focus {
    background-color: red;
    cursor: default;
    //background-color: #fff;
    //border: 1px solid #ddd;
    //border-bottom-color: transparent;
}
.news-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.news-tabs.nav-justified > li {
    float: none;
}
.news-tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.news-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .news-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .news-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}
.news-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}
.news-tabs.nav-justified > .active > a,
.news-tabs.nav-justified > .active > a:hover,
.news-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd;
}
@media (min-width: 768px) {
    .news-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .news-tabs.nav-justified > .active > a,
    .news-tabs.nav-justified > .active > a:hover,
    .news-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}
/*屏幕在768px以下,图标排成一行*/
@media (max-width: 768px) {
    .news-tabs> li {
        width: 25%;
    }
}

/*标签页内容区*/
.news_list{
  list-style:none;
  margin-top:20px;
  margin-bottom: 10px;
  padding-left:40px;
  li{
    padding-top: 10px;
    padding-bottom: 10px;
    a{
    color:grey;
    }
  }
}

.footer{
  text-align: center;
  ul{
    list-style:none;
    display: inline-block;
    li{
      float: left;
      padding: 15px;
      a{
        font-size:80px;
        color:grey;
        text-decoration: none;
      }
    }
  }
}