body {
  background-color: #f7f7f7;
}
.header .row > div {
  height: 40px;
  line-height: 40px;
  border: 1px solid grey;
  text-align: center;
}
.header .row > div > a {
  color: grey;
  text-decoration: none;
  font-size: 13px;
}
.header .row > div:nth-child(n+3) a {
  margin-left: 10px;
}
.header .row > div:first-child {
  position: relative;
}
.header .row > div:first-child img {
  display: none;
  position: absolute;
  top: 40px;
  left: 40px;
}
.header .row > div:first-child:hover img {
  display: block;
  z-index: 999;
}
/*导航栏*/
.nav {
  height: 80px;
}
.wjs_default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.wjs_default .navbar-brand {
  height: 80px;
  line-height: 50px;
  color: #777;
}
.wjs_default .navbar-brand span {
  font-size: 50px;
}
.wjs_default .navbar-brand span:first-child {
  color: red;
}
.wjs_default .navbar-brand span:last-child {
  color: black;
  font-size: 30px;
  top: -10px;
}
.wjs_default .navbar-brand:hover,
.wjs_default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.wjs_default .navbar-text {
  color: #777;
}
.wjs_default .navbar-nav > li > a {
  color: #777;
  height: 80px;
  line-height: 50px;
}
.wjs_default .navbar-nav > li > a:hover,
.wjs_default .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
  border-bottom: 3px solid red;
}
.wjs_default .navbar-nav > .active > a,
.wjs_default .navbar-nav > .active > a:hover,
.wjs_default .navbar-nav > .active > a:focus {
  /*color: #555;*/
  /*background-color: #e7e7e7;*/
}
.wjs_default .navbar-nav > .disabled > a,
.wjs_default .navbar-nav > .disabled > a:hover,
.wjs_default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.wjs_default .navbar-toggle {
  border-color: #ddd;
  margin-top: 25px;
}
.wjs_default .navbar-toggle:hover,
.wjs_default .navbar-toggle:focus {
  background-color: #ddd;
}
.wjs_default .navbar-toggle .icon-bar {
  background-color: #888;
}
.wjs_default .navbar-collapse,
.wjs_default .navbar-form {
  border-color: #e7e7e7;
}
.wjs_default .navbar-nav > .open > a,
.wjs_default .navbar-nav > .open > a:hover,
.wjs_default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .wjs_default .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .wjs_default .navbar-nav .open .dropdown-menu > li > a:hover,
  .wjs_default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .wjs_default .navbar-nav .open .dropdown-menu > .active > a,
  .wjs_default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .wjs_default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .wjs_default .navbar-nav .open .dropdown-menu > .disabled > a,
  .wjs_default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .wjs_default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.wjs_default .navbar-link {
  color: #777;
}
.wjs_default .navbar-link:hover {
  color: #333;
}
.wjs_default .btn-link {
  color: #777;
}
.wjs_default .btn-link:hover,
.wjs_default .btn-link:focus {
  color: #333;
}
.wjs_default .btn-link[disabled]:hover,
fieldset[disabled] .wjs_default .btn-link:hover,
.wjs_default .btn-link[disabled]:focus,
fieldset[disabled] .wjs_default .btn-link:focus {
  color: #ccc;
}
/*轮播图*/
.banner .banner_a {
  display: block;
  height: 410px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .banner_a.image_a {
  background-image: url(../images/slide_01_2000x410.jpg);
}
.banner .banner_a.image_b {
  background-image: url(../images/slide_02_2000x410.jpg);
}
.banner .banner_a.image_c {
  background-image: url(../images/slide_03_2000x410.jpg);
}
.banner .banner_a.image_d {
  background-image: url(../images/slide_04_2000x410.jpg);
}
.mobile_a {
  width: 100%;
  display: block;
}
.mobile_a img {
  width: 100%;
  display: block;
}
/*信息区域*/
.info {
  padding: 50px;
}
.info .container {
  max-width: 910px;
}
.info .container .row > div {
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.info .container .row > div a {
  color: grey;
}
.info .container .row > div a span {
  font-size: 40px;
}
.info .container .row > div a:hover {
  color: red;
}
/*预约区*/
.book {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: 20px;
}
.book .container {
  max-width: 910px;
}
.book .pull-left a {
  color: red;
  border-bottom: 1px dashed red;
}
.book .pull-right a {
  color: grey;
}
.book .pull-right a:hover {
  color: red;
}
/*产品区导航*/
.pro {
  padding: 0 15px 30px;
}
.wjs-tabs {
  border-bottom: 1px solid #ddd;
  padding: 0 15px;
  height: auto;
}
.wjs-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.wjs-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  color: grey;
}
.wjs-tabs > li.active > a,
.wjs-tabs > li.active > a:hover,
.wjs-tabs > li.active > a:focus {
  color: black;
  cursor: default;
  background-color: #fff;
  border-bottom: 3px solid red;
}
.wjs-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.wjs-tabs.nav-justified > li {
  float: none;
}
.wjs-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.wjs-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .wjs-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .wjs-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.wjs-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.wjs-tabs.nav-justified > .active > a,
.wjs-tabs.nav-justified > .active > a:hover,
.wjs-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .wjs-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .wjs-tabs.nav-justified > .active > a,
  .wjs-tabs.nav-justified > .active > a:hover,
  .wjs-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
/*产品区内容*/
.pro .item {
  padding: 20px 15px 0;
}
.pro .item a {
  height: 150px;
  display: block;
  text-decoration: none;
  box-shadow: 2px 2px 3px grey;
  color: grey;
  font-weight: 900;
}
.pro .item a::before {
  font-size: 40px;
  color: white;
  position: absolute;
}
.pro .item a .content_left {
  overflow: hidden;
  height: 100%;
}
.pro .item a .content_left h3 {
  font-size: 16px;
  text-align: center;
  height: 16px;
  line-height: 16px;
}
.pro .item a .content_left > div {
  margin-bottom: 5px;
}
.pro .item a .content_left > div:nth-of-type(2n) {
  text-align: right;
}
.pro .item a .content_left p {
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  margin: 3px;
  overflow: hidden;
}
.pro .item a .content_right {
  width: 108px;
  height: 100%;
  float: right;
  border-left: 1px dashed grey;
  position: relative;
  text-align: center;
  padding-top: 30px;
}
.pro .item a .content_right p {
  margin-bottom: 10px;
}
.pro .item a .content_right::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f7f7f7;
  top: -10px;
  left: -10px;
  box-shadow: 0px 1px 0px grey;
}
.pro .item a .content_right::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f7f7f7;
  bottom: -10px;
  left: -10px;
  box-shadow: 0px -1px 0px #808080;
}
.pro .tab-content a.active {
  background-color: red;
  color: white;
}
/*新闻列表*/
.news {
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
}
.news h3 {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 15px;
  border-bottom: 1px solid #777;
  position: relative;
}
.news h3::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #fff;
  border: 1px solid #666;
  border-radius: 4px;
  position: absolute;
  bottom: -4px;
  right: -4px;
}
/*虚线 竖线*/
.line_father {
  position: relative;
  overflow: hidden;
}
.line_father .line {
  height: 80%;
  border-left: 1px dashed grey;
  position: absolute;
  top: 25px;
  left: 50px;
}
.line_father .line2 {
  width: 100%;
  border-bottom: 1px solid grey;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
/*图标区*/
.news-tabs {
  padding-top: 20px;
}
.news-tabs > li {
  float: left;
  width: 100%;
}
.news-tabs > li:last-child a {
  margin-bottom: 0;
}
.news-tabs > li > a {
  margin-right: 2px;
  line-height: 70px;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  color: white;
  background-color: #d2d2d2;
  margin-bottom: 60px;
  font-size: 40px;
  text-align: center;
  padding: 0;
}
.news-tabs > li > a:hover {
  background-color: red;
}
.news-tabs > li.active > a,
.news-tabs > li.active > a:hover,
.news-tabs > li.active > a:focus {
  background-color: red;
  cursor: default;
}
.news-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.news-tabs.nav-justified > li {
  float: none;
}
.news-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.news-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .news-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .news-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.news-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.news-tabs.nav-justified > .active > a,
.news-tabs.nav-justified > .active > a:hover,
.news-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .news-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .news-tabs.nav-justified > .active > a,
  .news-tabs.nav-justified > .active > a:hover,
  .news-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
/*屏幕在768px以下,图标排成一行*/
@media (max-width: 768px) {
  .news-tabs > li {
    width: 25%;
  }
}
/*标签页内容区*/
.news_list {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 40px;
}
.news_list li {
  padding-top: 10px;
  padding-bottom: 10px;
}
.news_list li a {
  color: grey;
}
.footer {
  text-align: center;
}
.footer ul {
  list-style: none;
  display: inline-block;
}
.footer ul li {
  float: left;
  padding: 15px;
}
.footer ul li a {
  font-size: 80px;
  color: grey;
  text-decoration: none;
}
